version: "3.1"
services:
  notification_service:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - ./.env.local
    ports:
      - "8080:8080"
    networks:
      - ppg_network
    depends_on:
      - redis
      - sygnal
    volumes:
      - ./keypair.pem:/keypair.pem:ro
      - ./resolvers.settings.yaml:/resolvers.settings.yaml:ro

  example_frontend:
    build:
      context: ./example/js
      dockerfile: Dockerfile
    ports:
      - "8000:80"
    networks:
      - ppg_network

  redis:
    image: redis
    ports:
      - 6379:6379
    networks:
      - ppg_network

  sygnal:
    image: matrixdotorg/sygnal:v0.15.0
    volumes:
      - ./.sygnal/sygnal.yaml:/sygnal.yaml:ro # sygnal support configuration only with config file.
      - ./.sygnal/admin-sdk.json:/admin-sdk.json:ro
    ports:
      - "5001:5000"
    networks:
      - ppg_network

networks:
  ppg_network:
