version: '3.1'
services:

  redis:
    image: redis
    ports:
      - 6379:6379
    command: >
      --requirepass "${REDIS_PASSWORD:-secret}"

  sygnal:
    image: matrixdotorg/sygnal:v0.15.0
    volumes:
      - ./.sygnal/sygnal.yaml:/sygnal.yaml:ro # sygnal support configuration only with config file.
      - ./.sygnal/admin-sdk.json:/admin-sdk.json:ro
    ports:
      - "5000:5000"

networks:
  ppg_network:
