version: '3.1'
services:

  ppg:
    image: ghcr.io/iden3/ppg:develop
    restart: always
    environment:
      SERVER_HOST: "${SERVER_HOST:-localhost}"
      SERVER_PORT: "${SERVER_PORT:-8085}"
      REDIS_URL: "redis:6379"
      REDIS_PASSWORD: "${REDIS_PASSWORD:-secret}"
      GATEWAY_HOST: "http://sygnal:5000"
      LOG_ENV: "${LOG_ENV}"
      LOG_LEVEL: "${LOG_LEVEL}"
      PRIVATE_KEY: "${PRIVATE_KEY}"
    ports:
      - 8080:8085
    networks:
      - ppg_network
    depends_on:
      - redis
      - sygnal

  redis:
    image: redis
    command: >
      --requirepass "${REDIS_PASSWORD:-secret}"
    networks:
      - ppg_network

  sygnal:
    image: matrixdotorg/sygnal:v0.15.0
    volumes:
      - ./.sygnal/sygnal.yaml:/sygnal.yaml:ro # sygnal support configuration only with config file.
      - ./.sygnal/admin-sdk.json:/admin-sdk.json:ro
    networks:
      - ppg_network

networks:
  ppg_network:
